<!DOCTYPE html>
<html lang="en" ng-app="myNinjaApp">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <base href="/" />
    <link href="/src/styles.css" rel="stylesheet" type="text/css" />
    <script src="app/library/angular.js"></script>
    <script src="app/library/angular.min.js"></script>
    <script src="app/library/angular.route.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/library/angular-animate.min.js"></script>
  </head>
  <body>
    <div class="content">
      <p style="text-align: center; font-weight: bolder">
        Thanks a bunch for getting in touch!
      </p>
    </div>
  </body>
</html>
