<!DOCTYPE html>
<html lang="en" ng-app="myNinjaApp">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <base href="/" />
    <link rel="stylesheet" type="text/css" href="src/styles.css" />
    <script src="app/library/angular.js"></script>
    <script src="app/library/angular.min.js"></script>
    <script src="app/library/angular.route.min.js"></script>
    <script src="/app.js"></script>
    <script src="/library/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <title>Random</title>
  </head>

  <body>
    <div style="text-align: center">
      <h4>{{title}}</h4>
      <div ng-transclude></div>
      <img
        class="random-pic-home"
        ng-src="{{ninjas[random].thumb}}"
        alt="Pic from directory"
        style="width: 100px"
      />
    </div>
  </body>
</html>
