<!doctype html>
<html lang="en" ng-app="myNinjaApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyApp</title>
    <base href="/">
    <link href="/src/styles.css" rel="stylesheet" type="text/css" >
    <script src="/angular.min.js"></script>
    <script src="/angular.route.min.js"></script>
    <script src="/app/app.js"></script>
    <script src="/library/angular-animate.min.js"></script>
  </head>

  <body ng-init="color='orange'">
    <ng-include src="'/app/header.html'"></ng-include>
    
    <main ng-view></main>
    <!--<div>
      <input ng-model="inputText" placeholder="Insert text here">
      <p class="orange">Your text is {{inputText}}</p>

      <p class="red">color</p>
      <p>Your text are {{groupText[0]}}, {{groupText[1]}}, and {{groupText[2]}}</p>
    </div>-->
    <app-root></app-root>
  </body>

  <!--<sidebar ng-init="navigs=['HOME','PROFILE','SALES','CONTACT', 'FEEDBACK']">
    <div>
      <ul>
        <li class="li1 orange">{{navigs[0]}}</li>
        <li class="li1 red">{{navigs[1]}}</li>
        <li class="li1 blue">{{navigs[2]}}</li>
        <li class="li1 violet">{{navigs[3]}}</li>
        <li class="li1 orange">{{navigs[4]}}</li>
      </ul>
      <ul>
        <li ng-repeat="navig in navigs">{{navig}}</li>
      </ul>


    </div>
  </sidebar>-->
</html>
