<!DOCTYPE html>
<html lang="en" ng-app="myNinjaApp">
  <head>
    <title>Contact</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <base href="/" />
    <link href="/src/styles.css" rel="stylesheet" type="text/css" />
    <script src="app/library/angular.js"></script>
    <script src="app/library/angular.min.js"></script>
    <script src="app/library/angular.route.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/library/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  </head>
  <body>
    <ng-include src="'/src/header.html'"></ng-include>
    <div class="content">
      <form name="ContactForm" novalidate>
        <input type="text" placeholder="name" name="name" />
        <input type="email" placeholder="Email" name="email" />
        <textarea placeholder="Your message" name="message"></textarea>
        <input type="submit" value="Send" />
      </form>
    </div>
  </body>
</html>
