<!DOCTYPE html>
<html lang="en" ng-app="myNinjaApp">
  <head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <base href="/" />
    <link href="/src/styles.css" rel="stylesheet" type="text/css" />
    <script src="app/library/angular.js"></script>
    <script src="app/library/angular.min.js"></script>
    <script src="app/library/angular.route.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/library/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  </head>
  <body>
    <ng-include src="'/src/header.html'"></ng-include>
    <div>
      <p style="text-align: center; font-weight: bolder">Homepage</p>
      <random-ninja ninjas="ninjas" title="'Random Ninja'"></random-ninja>
      <p style="text-align: center">Check out my random ninja!</p>
    </div>
  </body>
</html>
